.metamask-panel-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 4rem;
  height: 15%;
  background-color: rgb(166, 250, 187);

  .account-container {
    gap: 1rem;
    width: 50%;

    .account-info-container {
      gap: 0.25rem;
    }

    .account-title {
      font-weight: bold;
      font-size: 16px;
    }
  }

  .connect-container {
    width: 50%;
    align-items: flex-end;
  }
}

.blur-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;

  .blur-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
  }

  .connect-message {
    position: relative;
    z-index: 1001;
    text-align: center;
    color: white;
    margin-bottom: 10rem;
  }

  .connect-message p {
    font-size: 20px;
  }
}
